<div class="d-flex flex-column justify-content-center align-items-center bg-light text-center">
    <div class="p-4">
        <h1 class="display-3 text-danger">{{message}}</h1>
        <h2 class="h4 text-secondary">Error {{status}}</h2>
        <p class="lead text-muted">Something went wrong. Please try again later.</p>
    </div>
</div>


