<div class="review-item" tabindex="0" role="article" aria-label="Recensione di {{critic_name}}">
    <p class="text-capitalize"><strong>Name: </strong>{{personName}}</p>
    <p class="text-capitalize"><strong>Category: </strong> {{category}}</p>
    {{#if winner}}<p>⭐ Winner</p>{{/if}}
</div>